/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

/* Work Sans */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700|Rubik:300,400|Muli:400,400i|Libre+Baskerville:400i,700&display=swap');

/* League Spartan */


@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'),
        url('../fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}