/* ------------------------------------------------------------ *\
	Datepicker
\* ------------------------------------------------------------ */

body .ui-datepicker,
body .ui-widget { font-family: $font-family-sans-serif--secondary !important; }
body.page-template-glamping .ui-datepicker { display: none; }
/* Mobile */

@media (max-width: 420px) {
	body .ui-datepicker { position: absolute; top: 50% !important; left: 50% !important; transform: translate(-50%,-50%); z-index: 110; font-family: $font-family-sans-serif--secondary; margin-top: 150px !important; }
	body .ui-datepicker:before { display: none !important; }
}

body .ui-datepicker { width: auto !important; }
body .ui-datepicker.ui-widget { border-radius: 0; padding: 0; border-color: transparent; }
body .ui-datepicker.ui-widget .ui-datepicker-header { border-radius: 0; background: $c-green; }


/* Head */

body .ui-datepicker .ui-widget-header { border: none; padding: 15px 0 15px; }
body .ui-datepicker-title { font-size: 18px; color: $c-white; }
body .ui-datepicker .ui-datepicker-calendar thead { background: $c-green; color: $c-white; font-size: 18px; }

body .ui-datepicker { margin-top: 15px; }
body .ui-datepicker:before { position: absolute;  content: ''; display: block; top: -10px; left: 40px; width: 0; height: 0; border-style: solid; border-width: 0 7.5px 10px 7.5px; border-color: transparent transparent $c-green transparent; }

/* Btns */

body .ui-datepicker .ui-datepicker-prev:before,
body .ui-datepicker .ui-datepicker-prev span,
body .ui-datepicker .ui-datepicker-next:before,
body .ui-datepicker .ui-datepicker-next span { display: none; }


body .ui-datepicker .ui-datepicker-prev { background-image: url(../images/temp/calendar-prev.svg) !important; background-size: contain; background-repeat: no-repeat; left: 10px; }
body .ui-datepicker .ui-datepicker-next { background-image: url(../images/temp/calendar-next.svg) !important; background-size: contain; background-repeat: no-repeat; right: 10px; }

body .ui-datepicker .ui-datepicker-prev,
body .ui-datepicker .ui-datepicker-next { width: 35px; height: 35px; top: 50%; transform: translateY(-50%); }

body .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
body .ui-datepicker .ui-datepicker-next.ui-state-disabled { display: none; }

body .ui-datepicker .ui-datepicker-next-hover.ui-state-hover,
body .ui-datepicker .ui-datepicker-prev-hover.ui-state-hover { border: none; background: transparent; background-size: contain; background-repeat: no-repeat; font-weight: normal; color: inherit; }

body .ui-datepicker .ui-datepicker-next-hover.ui-state-hover { right: 10px; }
body .ui-datepicker .ui-datepicker-prev-hover.ui-state-hover { left: 10px; }

/* Body */

body .ui-state-default,
body .ui-widget-content .ui-state-default,
body .ui-widget-header .ui-state-default,
body .ui-button { border: none; font-size: 14px; }

body .ui-datepicker .ui-datepicker-calendar tbody tr { height: 40px; }
body .ui-datepicker .ui-datepicker-calendar tbody td { padding: 0; text-align: center; vertical-align: top; }
body .ui-datepicker .ui-datepicker-calendar tbody td.ui-state-disabled span,
body .ui-datepicker .ui-datepicker-calendar tbody td a { text-align: center; height: 40px; width: 45px; margin: 0 auto; text-align: center; line-height: 37px; position: relative; }
body .ui-datepicker .ui-datepicker-calendar tbody td a:hover { background: $c-green; }
body .ui-datepicker .ui-datepicker-calendar tbody td a:hover:before { background: $c-white; }

body .ui-datepicker .ui-datepicker-calendar .us-state-default { background: #f0f0f0; }

body .ui-datepicker .ui-datepicker-calendar .ui-state-active { margin: 0 auto; }
body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a { background: transparent; }
body .ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a:after { display: block; content: ''; position: absolute; left: 5px; right: 5px; bottom: 8px; height: 1px; background: #b4bbc0; }

body .ui-datepicker .ui-datepicker-calendar tbody td.ui-state-disabled span { margin: 0 auto; }

body .ui-datepicker-calendar .highlight a {background-color: $c-green !important; }

/*  Highlight  */

body .ui-datepicker .ui-datepicker-calendar .datepicker--selected-date > a { background: $c-green !important; color: $c-base; position: relative; }
body .ui-datepicker .ui-datepicker-calendar .datepicker--selected-date:hover > a { opacity: .5; }

body .ui-datepicker .ui-datepicker-calendar .active > td:not(.ui-datepicker-unselectable) > a,
body .ui-datepicker .ui-datepicker-calendar .active > td:not(.ui-state-disabled) > a { background: $c-green !important; color: $c-base; }

