/* ------------------------------------------------------------ *\
	Section Boxes Three Cols
\* ------------------------------------------------------------ */

.section-boxes-three-cols { padding: 50px 0 90px; }
.section-boxes-three-cols + .section-boxes-three-cols { padding-top: 30px; }
.section-boxes-three-cols h2 { font-size: 42px; font-family: 'League Spartan'; font-weight: 700; text-align: center; margin-top: 0; padding-top: 0; margin-bottom: 30px; }

.section-boxes-three-cols .section__boxes { display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 1080px; margin: 0 auto; }
.section-boxes-three-cols .section__boxes .box-entry { max-width: 32.3%; flex: 1 1 32.3%; position: relative; }
.section-boxes-three-cols .section__boxes .box-entry .box__image { min-height: 190px; background-size: cover; background-position: center; background-repeat: no-repeat; }

.section-boxes-three-cols .box-entry { background-color: #f8f8f8; margin-bottom: 30px; }
.section-boxes-three-cols .box__content { text-align: center; padding: 10px 30px 45px; }
.section-boxes-three-cols .box__content h3 { font-size: 24px; font-family: 'League Spartan'; margin-bottom: 10px; }
.section-boxes-three-cols .box__content p { font-size: 14px; line-height: 1.4; margin: 0 0 35px; }
.section-boxes-three-cols .box__content .link-more { z-index: 10; position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); padding: 0 20px 10px; }
.section-boxes-three-cols .box__content .link-more:hover { color: #75baa0; }

$breakpoint-tablet-portrait {
	.section-boxes-three-cols { padding: 35px 0; }
	.section-boxes-three-cols .section__boxes { display: block; }
	.section-boxes-three-cols .section__boxes .box-entry { max-width: 100%; margin-bottom: 0; }
	.section-boxes-three-cols .section__boxes .box-entry .box__image { min-height: 300px; }
	.section-boxes-three-cols .shell { padding: 0; }
}

$breakpoint-mobile {
	.section-boxes-three-cols h2 { font-size: 35px; max-width: 350px; margin: 0 auto 20px; }
}