/* ------------------------------------------------------------ *\
	Btn	
\* ------------------------------------------------------------ */

.btn {  font-family: $font-family-sans-serif--secondary; font-size: 17px; font-weight: 600;  text-transform: uppercase; padding: 9px 33px 9px; color: $c-base; text-decoration: none; border-radius: 3px; border: 2px solid $c-green; }

.btn--primary { background: $c-green; }
.btn--primary:hover { background: rgba(255,255,255, 0.8); color: $c-green; }

.btn--secondary { background: rgba(255,255,255, 0.8); color: $c-green; }
.btn--secondary:hover { background: $c-green; color: $c-base; }

/* Sizes */

.btn--sm { padding: 9px 58px 9px; }
.btn--md { padding: 14px 75px 12px; letter-spacing: 0.041em; }

/* Mobile */

$breakpoint-mobile {
	.btn--sm { padding: 9px 38px 9px; }
	.btn--md { padding: 14px 40px 12px; letter-spacing: 0.041em; }
}

/* Mobile Portrait */

$breakpoint-mobile-portrait {
	.btn--sm { padding: 7px 28px 7px; }
	.btn--md { padding: 10px 30px 10px; }
}

/* ------------------------------------------------------------ *\
	Btn Load
\* ------------------------------------------------------------ */

.btn-load { position: relative; display: inline-block; padding-bottom: 37px; text-decoration: none; font-weight: 700; font-size: 22px; font-style: italic; color: $c-base; }
.btn-load:after,
.btn-load:before { content: ''; position: absolute; left: 50%; margin-left: -10px; bottom: 0; display: block; width: 20px; height: 20px; border-width: 0 3px 3px 0; border-style: solid; border-color: #c7ffd9; transform: rotate(45deg); transition: bottom .3s; }

.btn-load:before { bottom: 12px; }

.btn-load:hover:after,
.btn-load:hover:before { bottom: 6px; }

.btn-load span:last-child { display: none; }

body.loading .btn-load span:first-child { display: none; }
body.loading .btn-load span:last-child { display: block; }
